<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1217" />
    <add key="mainForm.Location.Y" value="230" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/temperature/2/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/1/plot" value="false" />
    <add key="/nvidiagpu/0/expanded" value="true" />
    <add key="/mainboard/expanded" value="false" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAGt8dn8e97ubHgwMB/6fr57MxAAEjAwnXJhqbijD2ADrBrylJAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAGt8dn8e97ubHgwMB/6fr57MxAAGDfYJWYEwtp2UZCqUzcDwsCEJzmYIS4Gr8UtHqLnMdVwAxta0SYersVsCU7/AXvcbwhwA1IF37IQAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOvifTCP+91NDwaGA/+PhUxmYgCDBfYJWYFQdoO967z9MjC23ZIUuBrdb0lwNQBPxO7xSAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOvifTCP+91NDwaGA/+PhUxmYoACgcU3lGFsAGXE2UQkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOvifTCP+91NDwaGA/+PhUxmYgCDBruErEAom4HBdd5+GRjbbkkKXI3utyS4GgCu/E8ESAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAIsweTCP+91NDwaGA/+lQiczMQDBkQ39ToFZgWB2gtUkp68zj7PA2NxhKWBxD7tJTqtWHxWAsePnp4HFE4Fs+650MHsNkB3qA9ELYgMAhiTTU2wAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAIsweTCP+91NDwaGA/+lQiczMYCAuoBzYFYghL2C0/nrzOMsMDZ3WApEfB6n86rVRwVg7Pj5aWDxA3M5ne270iFqgOxQH6heIBsAgykfSWwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANsS/WAe97ubHgwMB/7v053MxAAEDW+2OwdmBYLZDDq7nb/OPM4CY3OHpUDEDXc7r1p9VADGjp+fBhZXALLtu9Ih5gDZoT4QvSA2AEPHeu5sAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANsS/WAe97ubHgwMB/7v053MxAABLu+qbyjD2ABdPOCeJAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEANsS/WAe97ubHgwMB/7PYZvMxAAG9k7FEwOhbFsnOclUKNvO6VRkElxcojYFyrZxskpPhbN3TUuEq0/3zYCrz5ZNhrM/JaXD1XTB1dg7ZUxKhptzrN6IHcbW/ZYEVw8AU5LDybQAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAJtzwnYB97ubHgwMB/4DABPofMUMAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEANshZreA+91NDwaGA/8BKnBVaAwAAAA=" />
    <add key="/ram/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAGt8dn8e97ubHgwMB/6fr57MxAAEjA1KLkw1N5RhbADmTAZzJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAGt8dn8e97ubHgwMB/6fr57MxAAEjAyJLkw1N5RhbAAxaTg6JAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAMsWmDKP+91NDwaGA//XWV9nYgACs45Ep9ap/hD2uc2OAp9SwOyNymaOiYqJYDYDw0PHZcxpYLb/Ez0ns/RUMPvIumbHxn1QNQK2jhlqGWB20nQnx9RzSRBxBxnHn9fTwWyrwo+OSQwQNXN3rHd8wwaxK+l/u+PmJIga9WX7HFcFQuw6su+6o0EtRI31zybHc4sh7PkWAY4AGNbJ9MwAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAKs1nzKP+91NDwaGA//niFxnYgCCA60TnFqn+oPZTxtWOwp8SgGzb3Aed0hUTASzGRYsdVzGnAZmJz0XcDJLT4Wo0ex0bNwHVdPw1iFDLQPM/v//okPquSSo+G6Hn9fTwew3Kocdkxggaqw+pji+YYPY5afD77g5CaJG2NrHcVUgxK4bJ/scDWohao72OTqeWwx1myeTIwBE8Mf9zAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAJsQN2Ue97ubHgwMB/53vr3GxAAEp9XjnVqn+oPZNkUMTgKfUsBskehTjomKiWA2Q4GI0zLmNDD7jYiBk1l6Kpg9L+KIY+M+qJoHRxwz1DIgapYcdUw9lwQRZ1jv+PN6Opid9J3fKYkhA2omq9MbNohdDAKiTpuTIGr8bHKdVgVC7Oo6G+tkUAtRc1TvgeO5xSlQ8286AgDzqx3nzAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAPPesn8e97ubHgwMB/57/DJnZgCC0yFTnN6XpzGB2ClMU5y2LEkBs/+8nex02D0RzF4XPMXpjWQqhF0/1Wk9O0RN8dOpTganIGzGyVOdorUh5iQ1THVy/JYEZk9pm+q08kUGmP3uxFSnDhaIGg7JqU4/dSF6tx6e4vTXOh3M7lg3xUkkGcJufj7ZSb4fYm/c08lO3FBxv8eTnQBPAVhnzAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEu+vX8e97ubHgwMB/4bXDZnZgCCHpllDu/L05hAbJcDSx22LEkBs7NWLnU47J4IZvtIL3N4I5kKZjtlL3dYzw5RY3V3uYPBKQj7WcNyh2htiDk8OcsdHL8lgdl/ipY7rHyRAWZ77V3u0MECUeP3Y5nDT12I3kMzljn8tU4Hs7kalzmIJEPYWouWOsj3Q+w9Mn+pAzdUvGTuUgcAOaePDcwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACtgOjCP+91NDwaGA/+V15gzMwDBh6Ln9u/L05hAbIEnL+y3LEkBsyvsX9ofdk8Esz+UP7d/I5kKZktYPLJfzw5RY1HwwN7gFITd8fChfbQ2xJwPJo/sHb8lgdkGko/sV77IALN/vH9g38ECUfOC+Yn9T12IXommp/Z/rdMhah48tRdJhrArYl7ay/dD7BVIe2nPDRUPyH9pDwA9IONRzAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAMvcf38e97ubHgwMB/5/qp7MxAACDS1OoRMD4WzBTykQNkOL06PIJDibY0kKXI1feipc/Ma0RDjbzzcDrsbhG0Jv5/XzLDB2zaRkuJr6LWdZYGyt0wh7XZH0AgAJ7YJDtAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAGtqWjGP+91NDwaGA/+P2B9mYgACMy5r14QJgWD2bk5r12OfUsDsnUD2YfdEMHsPkK17JxWuZk46hL0LyJ7d/Ycbxj5/Pxmut3t+Gly9vmg63JxltSlw8bnOEPU7gGwACyrrFZwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAOteuWIe97ubHgwMB/5/7DjKxAAEZlzWrsYTA8Hs3ZzWrn8/poDZO4HsaYqJYPYeIDuHOQ2uxjQ9FczeBWTb9vzhhrG57yfD9brZpMPVzwlMg5vzenEKXFzFFaJ+B5ANAMX8SbWcAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEADNZUrCQ+91NDzMua9eOCYFMDECwm9Pa1etzCpi9E8h++yMBzN4DZK9hToOrEe1PBbN3AdkPu/5ww9hSNQi9eXdS4erXi6TDzfm8JAUu3iaTDGbvALIBbhhB7pAAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAGsWKV7I/e6mhxmXtavoxEAmBiDYzWnteutTCpi9E8h+Z5gEZu8Bsm1Pp8DVuKSngtm7gOzXG/9ww9g1k5LhelPmp8HV/xVJh5sz7wzCnD1fIebvALIByhbD05AAAAA=" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEADutsXYO97ubHgwMB/4/eOHAygAEk97aOGjIfVKGsQFKttcuJAAAAA==" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEABPwXzuH+91NDwaGA/9nH3JgZQAC3U22DrMD05hA7GoROwflxSlwdlF+Ipgd8tjWoTQ9FS6e/SAZzF7kaufwdAlE/ckyO4elSOaIrUiCq+E3z4Sbo7QtFS7OopcCZyt1pcPNOSySDjcnTvIsC4wNAFDlsL/AAAAA" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAJMsWzuH+91NDwaGA/8nzXZgZQACt22b7WcHpjGB2D+CN9tPFTrGAmOXpqcywdRkP0iGq3m6JAXMXvVxk/1SqN6Y/k32YiuS4OpNpY3ZYWylrnS43sMi6XA1/tsQ5vMnI9QAAJGYR0OoAAAA" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAJMsWzuH+91NDwaGA/8nzXZgZQACtsar9hpyn5RhbABwRYmgJAAAAA==" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEADOcu3YO97ubHgwMB/5XlTiwMgDBrJkz7TXkPinD2ADrtlSYJAAAAA==" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEADOcu3YO97ubHgwMB/5XlTiwMgDBvysGDrMD05hgbOXFKWC2KpuhQ1F+Ipxdmp4KV5P9IBnM9jE3dOj6dooFxhZbkQRXw2+eCWZfX2zgoLQtFW4Oix7E/OIMQwelrnS4OYdF0uHi/kjq+ZMRagDa6JPlwAAAAA==" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEADOcu3YO97ubHgwMB/5XlTiwMgDBNw0bh9mBaUwgtku3jYPy4hQwO2uPjUNRfiJcvDQ9Fc7OfpAMV/N0CUL9Uqg5k97aOIitSIKr5zfPZILZpbQtFa5GbcdpFhj7sEg6WDwHaI4/VI1MFFBvMkIcAF9V8HHAAAAA" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEADOcu3YO97ubHgwMB/5XlTiwMgDBjLwgBw25T8owNgA8824uJAAAAA==" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAPM4snYO97ubHgwMB/4n+zqwMgBB8wEvBw25T8owNgA9io8OJAAAAA==" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAHN+vXYO97ubHgwMB/5nqDmwMoBBgNPswDQmCNvVSXlxCpTt5FSUnwhlOzuVpqdC2V5O2Q+SoWx7p6dLYOrtnJbCzXFyEluRBGVbOvGbZ8LNV9oGM8fGiUUvBc5W6kqHm3lYJB1urz9cva0Tf3I6XD0AexiyScwAAAA=" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAEsRWjeH+91NDwaGA//d/9uzMoCBgZOG3CdlGBsABMrX/iQAAAA=" />
    <add key="/lpc/it8721f/temperature/2/values" value="H4sIAAAAAAAEAMu1XDeH+91NDwaGA//tbtizMoCBoNPswDQmCJvDSXlxCpTN4lSUnwhlszuVpqdC2TxO2Q+SoWxmp6dLYOqZnJbCzWFwEluRBGfzm2fCzVHaBjOH0YlFLwWuRqkrHc4+LJIOV+MPVw80Jxkm/sMRAAAb0UPMAAAA" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEAKuLXjGP+91NDwaGA/9Zd55iYgCCmCZ3Z9GJgWD2zUZ351ufUsDsa0D2O8MkuLjtaYj4DSB7x79jLDD2Sp8MsPh1INvhWxJcjVJXOlw8xzcDLl4zKRkunjI/DS7+VwSi/haQPe9MCtzePV8hZl4BsgGk2jcUwAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEADPjXTGP+91NDwaGA/8f2x1mYgABBwGn1qn+EPYCbieBTylQcTanRMVECLuB3WkZcxqErcDnZJaeClXP5tS4D6rmAbNThloGhH2A0Sn1XBJUL6PTz+vpUDVsTkkMUDUNrE5v2KB2MTA5bU5Kh7NXBULtamB2MqiFqlFgcjq3GOa2f44AcKqOs8wAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJP0yV7I/e6mR09zgFPrVH8mBiAIerfeUeBTCpjtl3PcIVExEcxmOHDLcRlzGph91C/ZySw9FaJmja9j4z6omoYrDhlqGWD2mxZGx9RzSVDxRQ4/r6eD2VYf/zomMUDUdMVOcXzDBrFLxFrPcXMSRI31Rj7HVYEQu46cS3U0qIWo6Zqr53huMYR9o/ONAwBD2eDSwAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJP0yV7I/e6mB1OWqVPrVH8mBiDwPpXqKPApBcwWsf7pkKiYCGYzHLjluIw5DcxWdxN3MktPBbPfHDFxbNwHVdPA6ZihlgFmH+kTcUw9lwQRZzjh8PN6OtScJ45JDBA1fjprHd+wQezaGKznuDkpHcpOdVwVCLHryLqFjga1EDUMDumO5xZD2Dc4RR0BuTzHbMAAAAA=" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEACtLWDeH+91NDwaGA/9NN9qzMgDBoTNXXGYHpjGB2L+Mr7ooL04Bs0sEr7oU5SeC2dLvr7iUpqeC2fwdV1yyHyTD2U+XpMDVLIWaAzJTbEUS3Bx+80y4+WpPTrLA2Epd6WBx1sqrLodFIOwPD666+G+D2NU9G6g3OR3OBgBqm86lwAAAAA==" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEAGtpXzeH+91NDwaGA//Vu+xZGYBAKr/fZXZgGhOIba/Y76K8OAXMDnbodynKT4SzS9NTmWDqsx8kg9mv/ftdni6BqG+K73dZCjUnEahebEUSXJzfPBPM3irY76K0LRVuJoteCtwcpa50OPuwSDpcjT9UfTPInOR0uJkAVaM9iMwAAAA=" />
    <add key="/lpc/it8721f/fan/2/values" value="H4sIAAAAAAAEAGtpXzeH+91NDwaGA//Vu+xZGaBAQ+6TMowNACYEWN0kAAAA" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/control/1/values" value="" />
    <add key="/lpc/it8721f/control/2/values" value="H4sIAAAAAAAEAPtRuH4O97ubHgwMB/5vnm/HygAGHk4acp+UYWwA84WdSSQAAAA=" />
  </appSettings>
</configuration>