<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8721f/control/0/plot" value="false" />
    <add key="/lpc/it8721f/control/1/plot" value="false" />
    <add key="/lpc/it8721f/control/2/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="2012" />
    <add key="mainForm.Location.Y" value="337" />
    <add key="mainForm.Width" value="655" />
    <add key="mainForm.Height" value="766" />
    <add key="/lpc/it8721f/voltage/0/plot" value="false" />
    <add key="/lpc/it8721f/voltage/1/plot" value="false" />
    <add key="/lpc/it8721f/voltage/2/plot" value="false" />
    <add key="/lpc/it8721f/voltage/3/plot" value="false" />
    <add key="/lpc/it8721f/voltage/4/plot" value="false" />
    <add key="/lpc/it8721f/voltage/5/plot" value="false" />
    <add key="/lpc/it8721f/voltage/6/plot" value="false" />
    <add key="/lpc/it8721f/voltage/7/plot" value="false" />
    <add key="/lpc/it8721f/voltage/8/plot" value="false" />
    <add key="/lpc/it8721f/temperature/0/plot" value="false" />
    <add key="/lpc/it8721f/temperature/1/plot" value="false" />
    <add key="/lpc/it8721f/temperature/2/plot" value="false" />
    <add key="/lpc/it8721f/fan/0/plot" value="false" />
    <add key="/lpc/it8721f/fan/1/plot" value="false" />
    <add key="/nvidiagpu/0/expanded" value="true" />
    <add key="/mainboard/expanded" value="false" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAPOdwfnjFustDwaGA//Pr+lkZAAChYd5Ti+5k5hA7A2P8pxCl6bA2WYOqWC2ybM8JwCgokp4PAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAPOdwfnjFustDwaGA/+Pt3YyMkDBt/fa7DA2AAIET+MkAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAPOdwfnjFustDwaGA/+Pt3YyMkDBt/fa7DA2AAIET+MkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAPOdwfnjFustDwaGA/+Pt3YyMoDBAvvH3ElMEPYB++eLU6DsBnsdh1Q4GwClggdZPAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAPtXyPnjFustDwaGA//F1nQyMoBBg91j7iQmCNvB/vniFCibgUHHIRXOBgChPj/GPAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPtXyPnjFustDwaGA//F1nQyMgABI8MJlxcntNlhbAAqEk/aJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPtXyPnjFustDwaGA//F1nQyMgABI0Oiy4sT2uwwNgDwfctFJAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPtXyPnjFustDwaGA//F1nQyMgABY4OSy4sT2uwwNgAnWPUMJAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEABPx4vxxi/WWBwPDgf/VazsZGcCgwyn3vTY7jA0A0Iw6RyQAAAA=" />
    <add key="minMenuItem" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEADM77f/jFustDwaGA/8BYZLtuAwAAAA=" />
    <add key="/ram/expanded" value="false" />
    <add key="/hdd/0/expanded" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOs4yPnjFustDwaGA/+nNHcyMkCAS8lHbXYYGwAh3WQkJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOs4yPnjFustDwaGA/+nNHcyMoDAoxnOL7mTmMDsxzOcQ5emwNlmDqlgtsPTGc4AZeIufTwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPOdwfnjFustDwaGA//Pr+lkZAABGz/nl9xJTGC2lZ9z6NIUONvMIRXMbjD1cwYA24BBRzwAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOs4yPnjFustDwaGA/+nNHcyMoBBgNO7E9rsMDYA5C6dJSQAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAPvNfv/7LdZbHgwMB/7vCtvIyAAEZlzWrsZ8SUwg9iFOa1fxuhQw+wCQ7ZyeCmbvA7IBTYGLyjwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAPvNfv/7LdZbHgwMB/57vlzHyAAEZlzWrqu4kphA7EOc1q7idSlg9gEg2yo9FczeB2QDAGB2BSk8AAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEANsrFvDjFustDwaGA/8BVibWuwwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEACsT+vb9FustDwaGA/87WE2ZGIDgVtk2h8JvSWC2Rf82ByupVDA7Z+M2hzN6KWD2i67tDgCIzOQKPAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACsT+vb9FustDwaGA/87WE2ZGICA8f0ip8JvSWD2EZbFTlZSqWC2n/JipzN6KWB209PFTgBDW3j5PAAAAA==" />
    <add key="/amdcpu/0/expanded" value="true" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEACt7fOr7LdZbHgwMB/5f0N7HyAAEHUdZnFZzJTGB2AwLljqK1aWA2SK/ZzheS00Fs/17WJwApO4XVDwAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEADPZfer7LdZbHgwMB/4LhexjZACCuApmp9VcSUwgNoNDs6NYXQqYfdQv1/FaaiqYrW721hEAT0BU+jwAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEADPZfer7LdZbHgwMB/4LhexjZAACbRkLp9VcSUwgNoPCJkexuhQw++i6SY7XUlMhbL2LjgAUXCtjPAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADPZfer7LdZbHgwMB/4LhexjZACCiggxp9VcSUwgNoPHYkexuhQw++2SuY7XUlMh7JzPjgAxAT4ePAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAGux/Pb9FustDwaGA/+r7pkwMQDBDs5l9oXfksBshxVL7a2kUsHsAvml9mf0UsDshp0L7QG4XmsBPAAAAA==" />
    <add key="/lpc/it8721f/control/1/values" value="" />
    <add key="/lpc/it8721f/control/0/values" value="" />
    <add key="/lpc/it8721f/fan/4/values" value="" />
    <add key="/lpc/it8721f/fan/3/values" value="" />
    <add key="/lpc/it8721f/fan/2/values" value="H4sIAAAAAAAEAFuXKfftFustDwaGA//zXjGxMECBeY8OO4wNAB40uBAkAAAA" />
    <add key="/lpc/it8721f/fan/1/values" value="H4sIAAAAAAAEAFuXKfftFustDwaGA//zXjGxMADBqS19LvLnk5hgbB2HVDDb8kify5uaFDDbDcgGANOTCLI8AAAA" />
    <add key="/lpc/it8721f/fan/0/values" value="H4sIAAAAAAAEAFuXKfftFustDwaGA//zXjGxMADB48gbLvLnk5hA7EWJ1110HFLB7NraGy5valLA7EdBN10AxzuIYTwAAAA=" />
    <add key="/lpc/it8721f/temperature/2/values" value="H4sIAAAAAAAEALNylft2i/WWBwPDgf+P+JhZGMBAyEn+fBIThM3jpOOQCmVzOb2pSYGyeZ0AByfEhTwAAAA=" />
    <add key="/lpc/it8721f/temperature/1/values" value="H4sIAAAAAAAEAIuTlft2i/WWBwPDgf/7zJhZGMDAwMm8R4cdxgYAL79SPSQAAAA=" />
    <add key="/lpc/it8721f/temperature/0/values" value="H4sIAAAAAAAEAIuTlft2i/WWBwPDgf/7zJhZGMAgzEn+fBIThO3ppOOQCmUHOr2pSYGyfZ0ARPxwOzwAAAA=" />
    <add key="/lpc/it8721f/voltage/8/values" value="H4sIAAAAAAAEAOO+IPvtFustDwaGA/8FW5hZGICg+YCXg3mPDjuMDQBU5/UdJAAAAA==" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEACt7fOr7LdZbHgwMB/5f0N7HyAAEF9glnVZzJTGB2AwKmxzF6lLA7DKnK47XUlPBbBFpZicAb/tTGDwAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEALvUf+/7LdZbHgwMB/6X1K9iZACBBSJOq7mSmMDsB7xOYnUpUDaP07XUVAjbgc8JAJEOGCA8AAAA" />
    <add key="/amdcpu/0/clock/0/values" value="H4sIAAAAAAAEANO4d+/7LdZbHgwMB/7P+riZkQEIYpvcnfX5kphA7AeN7s6CdSlg9j0g2z49Fcy+A2QDAAk/cgQ8AAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEANO4d+/7LdZbHgwMB/7LLlrDyAAEZlzWrsu4kphA7EOc1q5idSlg9gEg2yU9FczeB2QDAEfoc3E8AAAA" />
    <add key="/lpc/it8721f/voltage/7/values" value="H4sIAAAAAAAEAOO+IPvtFustDwaGA/8FW5hZGIBgRl6Qg3mPDjuMDQDQPjYJJAAAAA==" />
    <add key="/lpc/it8721f/voltage/6/values" value="H4sIAAAAAAAEAOO+IPvtFustDwaGA/8FW5hZGIBALsrGQf58EhOInbPHxkHHIRXOflOTAma7dNs4AADcA7qdPAAAAA==" />
    <add key="/lpc/it8721f/voltage/5/values" value="H4sIAAAAAAAEAOO+IPvtFustDwaGA/8FW5hZGIDg3xUDB/nzSUwgtiqboYOOQyqY7WNu6PCmJgUuDgC4L5W6PAAAAA==" />
    <add key="/lpc/it8721f/voltage/4/values" value="H4sIAAAAAAAEAOO+IPvtFustDwaGA/8FW5hZGIBg1syZ9uY9OuwwNgAHewy/JAAAAA==" />
    <add key="/lpc/it8721f/voltage/3/values" value="H4sIAAAAAAAEAPuyQvbbLdZbHgwMB/5rrGZmYQACtsar9uY9OuwwNgDjKxUjJAAAAA==" />
    <add key="/lpc/it8721f/voltage/2/values" value="H4sIAAAAAAAEAPuyQvbbLdZbHgwMB/5rrGZmYQCCH8Gb7b35T8DZb2pSmEBst22b7QHBd7t/MAAAAA==" />
    <add key="/lpc/it8721f/voltage/1/values" value="H4sIAAAAAAAEAPuyQvbbLdZbHgwMB/5rrGZmYQCCkMe2DvLnk5hA7EWudg46Dqlw9puaFDC7WsTOAQDcJCtDPAAAAA==" />
    <add key="/lpc/it8721f/voltage/0/values" value="H4sIAAAAAAAEAFtVL/vtFustDwaGA/+LrjCzMADBpLc2DvLnk5hA7Kw9Ng46DqlMMPE3NSlwcQABYN3pPAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAPvNfv/7LdZbHgwMB/4fP76ZkQEIzLisXfX5kphA7EOc1q6CdSlg9gEg2z49FczeB2QDALAw27A8AAAA" />
    <add key="/lpc/it8721f/control/2/values" value="H4sIAAAAAAAEABMIkf92i/WWBwPDgf88DEwsDGDg4WTeo8MOYwMAWPaOoCQAAAA=" />
  </appSettings>
</configuration>